body {
    width: 1200px;
    font-family: 'Inter', sans-serif;
    font-family: 'Roboto', sans-serif;
    background: #1E1E1E;
    color: #0A0A0A;
    margin: 0 auto;
}

/* Header */
.header {
    position: absolute;
    top: 0;
    z-index: 5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1080px;
    height: 70px;
    margin: 12px 60px 78px;
    background: #FAFAFA;
    border-radius: 16px;
}
.header__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
    margin: 23px 656px 23px 42px;
}
.header__navbar-link {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #0A0A0A;
}
.header__button {
    width: 116px;
    height: 46px;
    background: #0A0A0A;
    border-radius: 32px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    color: #FAF9F7;
}
.header__button:hover {
    background: #C6F572;
    color: #0A0A0A;
}

/* Intro */
.intro {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 1129px;
    background: #fff;
}
.intro__photos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 48px;
    width: 768px;
    height: 400px;
    margin: 160px auto 42px;
}
.intro__title {
    width: 1071px;
    height: 160px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 142px;
    line-height: 160px;
    color: #0A0A0A;
    margin: 0 auto 57px;
}
.intro__text {
    width: 453px;
    height: 81px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #0A0A0A;
    margin: 0 687px 47px 60px;
}
.intro__button {
    width: 180px;
    height: 46px;
    background: #C6F572;
    border-radius: 40px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    color: #0A0A0A;
    margin: 0 960px 123px 60px;
}
.intro__button:hover {
    background: #0A0A0A;
    color: #C6F572;
}

/* Main */
.main__container {
    position: absolute;
    width: 1200px;
}

/* Quote */
.quote-ceo {
    display: flex;
    flex-direction: column;
}
.quote-ceo__text {
    width: 554px;
    height: 36px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: #FAF9F7;
    margin: 131px auto 33px;
}
.quote-ceo__span {
    width: 169px;
    height: 16px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 16px;
    text-align: center;
    color: #504F4F;
    margin: 0 auto 82px;
}

/* Slack */
.slack {
    display: flex;
    height: 800px;
    background: #FFFFFF;
}
.slack__message-example {
    width: 600px;
    height: 200px;
    margin: 250px auto 350px;
}
.slack__info {
    position: relative;
    display: flex;
    flex-direction: column;
    background: #FAF9F7;
}
.slack__info-title {
    width: 349px;
    height: 96px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 48px;
    color: #0A0A0A;
    margin: 165px 71px 90px 60px;
}
.slack__info-text {
    width: 322px;
    height: 81px;
    left: 780px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 27px;
    color: #0A0A0A;
    margin: 0 98px 46px 60px;
}
.slack__info-comment {
    width: 349px;
    height: 32px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #504F4F;
    z-index: 1;
    margin: 0 71px 290px 60px;
}
.slack__info-photo {
    position: absolute;
    top: 450px;
    left: 60px;
    border-radius: 12px;
}

/* Pricing */
.pricing {
    display: flex;
    flex-direction: column;
    background: #FBF19B;
}
.pricing__title {
    width: 178px;
    height: 64px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 57px;
    line-height: 64px;
    text-align: center;
    color: #0A0A0A;
    margin: 231px auto 43px;
}
.pricing__text {
    width: 478px;
    height: 72px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #0A0A0A;
    margin: 0 auto 254px;
}

/* Quote */
.quote-cso {
    display: flex;
    flex-direction: column;
    background: #D4F2F9;
}
.quote-cso__text {
    width: 377px;
    min-height: 36px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: #0A0A0A;
    margin: 131px auto 31px;
}
.quote-cso__span {
    width: 169px;
    height: 16px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 16px;
    text-align: center;
    color: #504F4F;
    margin: 0 auto 82px;
}

/* Benefits */
.benefits {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 1128px;
}
.benefits__icon {
    position: absolute;
    top: 187px;
    right: 120px;
    width: 64px;
    height: 64px;
    transition: all 0.5s ease-in;
}
.benefits__icon:hover {
    cursor: pointer;
    transform: scale(1.1) rotate(360deg);
}
.benefits__title {
    width: 907px;
    height: 192px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 64px;
    color: #FAF9F7;
    margin: 161px 173px 169px 120px;
}
.benefits__cards {
    display: flex;
    justify-content: space-between;
    width: 948px;
    height: 480px;
    gap: 12px;
    margin: 0 auto 98px;
}
.benefits__card {
    display: flex;
    flex-direction: column;
    width: 308px;
    height: 480px;
    left: 126px;
    border-radius: 12px;
    color: #0A0A0A;
    transition: transform .3s ease-in;
}
.benefits__card:hover {
    cursor: pointer;
    transform: scale(1.05);
}
.scale {
    background: #F4D2DC;
}
.reduce {
    background: #FBF19B;
}
.grow {
    background: #DBFAA8;
}
.benefits__card-number {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 14px;
    margin: 32px auto 21px 32px;
}
.benefits__card-heading {
    width: 138px;
    height: 64px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 32px;
    color: #0A0A0A;
    margin: 0 auto 30px 32px;
}
.benefits__card-text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #0A0A0A;
    margin: 0 32px 229px;
}

/* Form */
.form {
    position: relative;
    display: flex;
    width: 1200px;
    height: 1188px;
    background: #0A0A0A;
}
.form__img {
    position: absolute;
    top: 2px;
    right: 103px;
    width: 350px;
    height: 460px;
    border-radius: 12px;
}
.form__wrapper {
    display: flex;
    flex-direction: column;
    width: 840px;
    height: 852px;
    left: 180px;
    background: #FBF19B;
    border-radius: 24px;
    z-index: 10;
    margin: 240px auto 96px;
}
.form__wrapper-title {
    width: 341px;
    height: 159px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 53px;
    color: #0A0A0A;
    margin: 91px auto 28px 96px;
}
.form__wrapper-text {
    width: 434px;
    height: 48px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #0A0A0A;
    margin: 0 auto 16px 96px;
}
.form__wrapper-inputs {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 0 264px 54px 96px;
}
.form__wrapper-input {
    height: 60px;
    border-bottom: 2px solid #0A0A0A;
    background: transparent;
    outline: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #0A0A0A;
    padding: 12px;
}


.form__wrapper-agreement {
    width: 322px;
    height: 20px;
    margin: 0 auto 32px 96px;
}
.checkbox {
    height: 20px;
    border-radius: 4px;
}
.custom-checkbox>input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.custom-checkbox>span::before {
    content: '';
    display: inline-block;
    align-items: center;
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 2px solid #0A0A0A;
    border-radius: 4px;
    margin-right: 12px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 70% 70%;
}
.custom-checkbox>input:checked+span::before {
    border-color: #0A0A0A;
    background-color: #FBF19B;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%0A0A0A' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}
.wrapper-agreement-span {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #0A0A0A;
}
.form__wrapper-btn {
    width: 178px;
    height: 46px;
    background: #0A0A0A;
    border-radius: 40px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    color: #FAF9F7;
    cursor: pointer;
    margin: 0 auto 112px 96px;
}
.form__wrapper-btn:hover {
    border: 1px solid #0A0A0A;
    color: #0A0A0A;
    background: transparent;
}

/* Footer */
.footer {
    display: flex;
    flex-direction: column;
    height: 185px;
    background: rgb(219, 250, 168, 0.85);
}
.footer__wrapper {
    width: 1152px;
    height: 55px;
    margin: 102px auto 28px;
}
.footer__socials {
    display: flex;
    justify-content: space-between;
    gap: 12px;
    width: 44px;
    height: 16px;
    margin: 0 0 13px auto;
}
.footer__social {
    cursor: pointer;
}
.footer__line {
    width: 100%;
    margin-bottom: 9px;
}
.footer__copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

}
.footer__copyright-trademark {
    width: 264px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #0A0A0A;
    margin-right: 652px;
}
.footer__copyright-navbar {
    display: flex;
    justify-content: space-between;
    gap: 12px;
    width: 236px;
}
.copyright-navbar-link {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #0A0A0A;
}